.modal-content {
  background-color: #333;
  display: flex;
  width: 100%;
}

.pdf-document {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #333;
  margin: auto;
}
.image-preview {
  width: 55vw;
  margin: 0 auto 0 auto;
  min-height: 100vh;
}
.preview-pagination {
  font-size: 1rem;
}
.close-btn {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem !important;
}

.action-document {
  display: flex;
  justify-content: center;
  align-items: center;
}

.datepicker-input {
  border-radius: 5px;
  border: 2px #0c8af8 solid;
  padding: 1.3em;
  background-color: transparent;
  width: 100%;
}

.datepicker-input:focus {
  outline: none;
  border: 2px #0c8af8 solid;
}
.form__invoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
